<div class="actions fixed-bottom" id="actions">
  <span id="timer" hidden class="hide timer"></span>
  <button title="starting recording" id="start-btn" class="start icon-btn red" onclick="processRecording()">
    <i class="material-icons">fiber_manual_record</i>
  </button>
  <button title="continue recording" id="continue-btn" class="stop icon-btn red hide" onclick="resumeRecording()">
    <i class="material-icons">
      fiber_manual_record
    </i>
  </button>
  <button title="pause recording" id="pause-btn" class="pause icon-btn hide blue" onclick="pauseRecording()">
    <i class="material-icons">
      pause_circle
    </i>
  </button>
  <button title="stop recordin" id="stop-btn" class="stop icon-btn hide red" onclick="stopRecording()">
    <i class="material-icons">
      stop_circle
    </i>
  </button>
</div>
