<div class="player">
  <div id="container" class="container show-controls">
    <div class="wrapper">
      <div id="videoTimeline" class="video-timeline" (mouseover)="videoTimelineHover($event)"
        (click)="videoTimelineClick($event)">
        <div id="progress-area" class="progress-area">
          <span>00:00</span>
          <div id="progressBar" class="progress-bar"></div>
        </div>
      </div>
      <ul id="video-controls" class="video-controls">
        <li id="volumeSlider" class="options left">
          <button (click)="volumeBtn()" id="volumeBtn" class="volume"><i class="fa-solid fa-volume-high"></i></button>
          <input id="range" type="range" min="0" max="1" step="any">
          <div id="video-timer" class="video-timer">
            <p id="currentVidTime" class="current-time">00:00</p>
            <p id="separator" class="separator"> / </p>
            <p id="videoDuration" class="video-duration">00:00</p>
          </div>
        </li>
        <li class="options center">
          <button (click)="skipBackward()" id="skipBackward" class="skip-backward">
            <i class="fas fa-backward"></i></button>
          <button (click)="playPauseBtn()" id="playPauseBtn" class="play-pause">
            <i *ngIf="!playing" class="fas fa-play"></i>
            <i *ngIf="playing" class="fas fa-pause"></i>
            <!-- <mat-icon class="mat-18">menu</mat-icon> -->

          </button>
          <button (click)="skipForward()" id="skipForward" class="skip-forward"><i class="fas fa-forward"></i></button>
        </li>
        <li class="options right">
          <div class="playback-content">
            <!-- <button (click)="speedBtn()" class="playback-speed">
              <span id="speedBtn" class="material-symbols-rounded">slow_motion_video</span>
            </button>
            <ul id="speedOptions" class="speed-options">
              <li data-speed="2">2x</li>
              <li data-speed="1.5">1.5x</li>
              <li data-speed="1" class="active">Normal</li>
              <li data-speed="0.75">0.75x</li>
              <li data-speed="0.5">0.5x</li>
            </ul> -->
            <mat-menu #menu="matMenu" id="speedOptions">
              <button (click)="setSpeedOption(menu,'2')" mat-menu-item>
                <span data-speed="2">2x</span>
              </button>
              <button (click)="setSpeedOption($event,'1.5')" mat-menu-item disabled>
                <span data-speed="1.5">1.5x</span>
              </button>
              <button (click)="setSpeedOption($event,'1')" mat-menu-item>
                <span data-speed="1" class="active">Normal</span>
              </button>
              <button (click)="setSpeedOption($event,0.75)" mat-menu-item>
                <span data-speed="0.75x" class="active">0.75x</span>
              </button>
              <button (click)="setSpeedOption($event,0.5)" mat-menu-item>
                <span data-speed="0.5x" class="active">0.5x</span>
              </button>
            </mat-menu>
            <button #speed="matMenuTrigger" mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu for speed"
              style="z-index:1050">
              <mat-icon>slow_motion_video</mat-icon>
            </button>


          </div>
          <button (click)="pipBtn()" id="pipBtn" class="pic-in-pic"><span
              class="material-icons">picture_in_picture_alt</span></button>
          <button (click)="fullScreenBtn()" id="fullScreenBtn" class="fullscreen"><i
              class="fa-solid fa-expand"></i></button>
        </li>
      </ul>
    </div>
    <video></video>
  </div>
  <!-- src="assets/video.mp4" -->
</div>
